spring:
  application:
    name: gateway-service
  cloud:
    config:
      enabled: false  # Désactive complètement Config Client
    gateway:
      routes:
        - id: product-service
          uri: lb://product-microservice
          predicates:
            - Path=/api/products/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}
        - id: user-service
          uri: lb://user-microservice
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8080